## Assignment_BASIC_STATS_LEVEL_01

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
'''Q7) Calculate Mean, Median, Mode, Variance, Standard Deviation, Range &comment about the values / draw inferences, 
       for the given dataset
   -For Points,Score,Weigh>
    Find Mean, Median, Mode, Variance, Standard Deviation, and Range and also Comment about the values/ Draw some inferences.

Use Q7.csv file 
'''

'Q7) Calculate Mean, Median, Mode, Variance, Standard Deviation, Range &comment about the values / draw inferences, \n       for the given dataset\n   -For Points,Score,Weigh>\n    Find Mean, Median, Mode, Variance, Standard Deviation, and Range and also Comment about the values/ Draw some inferences.\n\nUse Q7.csv file \n'

In [3]:
df = pd.read_csv("C:/Users/HP/Desktop/DATA SCIENCE AUG 2023/01_SWAPNL_DESAI_BATCH_(21082023)/10_DS_ASSIGNMENTS/01_BASIC_STATS_LEVEL_01/Q7.csv")

In [4]:
df = pd.read_csv("Q7.csv")           #In both way we can read the csv file

In [5]:
df.head()              #It shows default top 5 rows

          Unnamed: 0  Points  Score  Weigh
0          Mazda RX4    3.90  2.620  16.46
1      Mazda RX4 Wag    3.90  2.875  17.02
2         Datsun 710    3.85  2.320  18.61
3     Hornet 4 Drive    3.08  3.215  19.44
4  Hornet Sportabout    3.15  3.440  17.02

In [6]:
df.info()         #We get information about dataset(no of rows, columns and type of data)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  32 non-null     object
 1   Points      32 non-null     float64
 2   Score       32 non-null     float64
 3   Weigh       32 non-null     float64
dtypes: float64(3), object(1)
memory usage: 1.1+ KB

#### 1) Calculate mean of Points, Score, Weigh

In [7]:
# Calculate mean of Points, Score, Weigh
m1 =df["Points"].mean()
m1

3.5965625

In [8]:
m2 =df["Score"].mean()
m2

3.2172500000000004

In [9]:
m3 =df["Weigh"].mean()
m3

17.848750000000003

#### 2) Calculate median of Points, Score, Weigh

In [10]:
M1 =df["Points"].median()
M1

3.6950000000000003

In [11]:
M2 =df["Score"].median()
M2

3.325

In [12]:
M3 =df["Weigh"].median()
M3

17.71

#### 3) Calculate mode of Points, Score, Weigh

In [13]:
df["Points"].mode().tolist()

[3.07, 3.92]

In [14]:
df["Score"].mode().tolist()

[3.44]

In [15]:
df["Weigh"].mode().tolist()

[17.02, 18.9]

#### 4) Calculate variance of Points, Score, Weigh

In [16]:
df["Points"].var()

0.28588135080645166

In [17]:
df["Score"].var()

0.9573789677419356

In [18]:
df["Weigh"].var()

3.193166129032258

#### 5) Calculate standard deviation of Points, Score, Weigh

In [19]:
df["Points"].std()

0.5346787360709716

In [20]:
df["Score"].std()

0.9784574429896967

In [21]:
df["Weigh"].std()

1.7869432360968431

#### 6) Calculate Range of Points, Score, Weigh

In [22]:
R1= df["Points"].max()-df["Points"].min()
R1

2.17

In [23]:
R2= df["Score"].max()-df["Score"].min()
R2

3.9110000000000005

In [24]:
R3= df["Weigh"].max()-df["Weigh"].min()
R3

8.399999999999999

In [25]:
# From this dataset we get central tendency values(mean, meadian, mode), spread(variance, std) and range 
# for points, score and weigh

In [26]:
X = [108, 110, 123, 134, 135, 145, 167, 187, 199]

In [27]:
sum(X)/9

145.33333333333334

In [28]:
'''Q9) Calculate Skewness, Kurtosis & draw inferences on the following data

      Cars speed and distance 
      Use Q9_a.csv
      
      SP and Weight(WT)
      Use Q9_b.csv
'''

'Q9) Calculate Skewness, Kurtosis & draw inferences on the following data\n\n      Cars speed and distance \n      Use Q9_a.csv\n      \n      SP and Weight(WT)\n      Use Q9_b.csv\n'

In [3]:
#For skew, kurt import the respective liraries.
from scipy.stats import skew, kurtosis

In [30]:
#Read the first dataset Q9_a.csv to find skew, kurt values for speed and distance
ds = pd.read_csv("C:/Users/HP/Desktop/DATA SCIENCE AUG 2023/01_SWAPNL_DESAI_BATCH_(21082023)/10_DS_ASSIGNMENTS/01_BASIC_STATS_LEVEL_01/Q9_a.csv")

In [31]:
ds= pd.read_csv("Q9_a.csv")              #In both way we can read the csv file

In [32]:
ds.head()                 #top 5 default rows

   Index  speed  dist
0      1      4     2
1      2      4    10
2      3      7     4
3      4      7    22
4      5      8    16

In [33]:
ds.tail()                #bottom 5 default rows

    Index  speed  dist
45     46     24    70
46     47     24    92
47     48     24    93
48     49     24   120
49     50     25    85

In [34]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Index   50 non-null     int64
 1   speed   50 non-null     int64
 2   dist    50 non-null     int64
dtypes: int64(3)
memory usage: 1.3 KB

In [35]:
# Calculate skewness for 'speed' and 'distance'
skew_speed = skew(ds['speed'])
skew_distance = skew(ds['dist'])

print(skew_speed)
print(skew_distance)

-0.11395477012828319
0.7824835173114966

In [36]:
# Calculate kurtosis for 'speed' and 'distance'
kurtosis_speed = kurtosis(ds['speed'])
kurtosis_distance = kurtosis(ds['dist'])

print(kurtosis_speed)
print(kurtosis_distance)

-0.5771474239437371
0.24801865717051808

In [37]:
#Read the second dataset Q9_b.csv to find skew, kurt values for speed and distance
ds1= pd.read_csv("Q9_b.csv")

In [38]:
ds1.head()

   Unnamed: 0          SP         WT
0           1  104.185353  28.762059
1           2  105.461264  30.466833
2           3  105.461264  30.193597
3           4  113.461264  30.632114
4           5  104.461264  29.889149

In [39]:
ds1.tail()

    Unnamed: 0          SP         WT
76          77  169.598513  16.132947
77          78  150.576579  37.923113
78          79  151.598513  15.769625
79          80  167.944460  39.423099
80          81  139.840817  34.948615

In [40]:
ds1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81 entries, 0 to 80
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  81 non-null     int64
 1   SP          81 non-null     float64
 2   WT          81 non-null     float64
dtypes: float64(2), int64(1)
memory usage: 2.0 KB

In [41]:
# Calculate skewness for 'sp' and 'wt'
skew_SP = skew(ds1['SP'])
skew_WT = skew(ds1['WT'])

print(skew_SP)
print(skew_WT)

1.5814536794423764
-0.6033099322115126

In [42]:
# Calculate kurtosis for 'sp' and 'wt'
kurtosis_SP = kurtosis(ds1['SP'])
kurtosis_WT = kurtosis(ds1['WT'])

print(kurtosis_SP)
print(kurtosis_WT)

2.7235214865269244
0.8194658792266849

In [ ]:
'''
Q11) Suppose we want to estimate the average weight of an adult male in Mexico. We draw a random sample of 2,000 men from a 
population of 3,000,000 men and weigh them. We find that the average person in our sample weighs 200 pounds, and the standard 
deviation of the sample is 30 pounds. Calculate 94%,98%,96% confidence interval?
'''

In [1]:
#Firstly import all necessary libraries
import scipy.stats as stats
import math

In [4]:
# Given data
sample_mean = 200
sample_sd = 30
sample_size = 2000

# Degrees of freedom for a t-distribution
df = sample_size - 1
# Calculate t-scores for different confidence levels
t_94 = stats.t.ppf(0.97, df)  # for a 94% CI
t_98 = stats.t.ppf(0.99, df)  # for a 98% CI
t_96 = stats.t.ppf(0.98, df)  # for a 96% CI

# Calculate margin of error for each confidence level
margin_of_error_94 = t_94 * (sample_sd / math.sqrt(sample_size))
margin_of_error_98 = t_98 * (sample_sd / math.sqrt(sample_size))
margin_of_error_96 = t_96 * (sample_sd / math.sqrt(sample_size))

# Calculate confidence intervals
confidence_interval_94 = (sample_mean - margin_of_error_94, sample_mean + margin_of_error_94)
confidence_interval_98 = (sample_mean - margin_of_error_98, sample_mean + margin_of_error_98)
confidence_interval_96 = (sample_mean - margin_of_error_96, sample_mean + margin_of_error_96)

# Print the results
print(f"94% CI:",confidence_interval_94)
print(f"98% CI:",confidence_interval_98)
print(f"96% CI:",confidence_interval_96)

94% CI: (198.7376089443071, 201.2623910556929)
98% CI: (198.4381860483216, 201.5618139516784)
96% CI: (198.6214037429732, 201.3785962570268)